{%- style -%}
    
.inside-padding{
    padding: calc({{ section.settings.padding_inside }}px * 0.75);}

.message{ text-align: center;
padding:1rem 0;
}
{%- endstyle -%}

<div class="custom-banner{{ section.id }}">
    <div class="color-{{ section.settings.color_scheme }} gradient inside-padding">
        {% for block in section.blocks %}
        <div class="message {% if block.settings.fallback %}fallback{% endif %}"
            data-utm="{{ block.settings.utm_parameter_value }}">
            {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}{% if block.settings.utm_parameter_value != blank %}?utm_source={{ block.settings.utm_parameter_value }}{% endif %}"
                class="link link--text focus-inset">
                {{ block.settings.message }}
            </a>
            {% else %}
            <p> {{ block.settings.message }} </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>




{%- if request.design_mode -%}
<script src="{{ 'amBanner.js' | asset_url }}" defer="defer"></script>


    {%- endif -%}

{% schema %}
{ "name":
    "custom-banner-test",
        "settings" : [
            {
                "type" : "color_scheme",
                "id" : "color_scheme",
                "label" : "t:sections.all.colors.label",
                "default" : "scheme-1"
            },
           
            {
                "type" : "range",
                "id" : "padding_inside",
                "min" : 0,
                "max" : 100,
                "step" : 4,
                "unit" : "px",
                "label" : "Padding inside text box",
                "default" : 12
            }
        ],
                "blocks": [
                {
                "type": "message",
                "name": "Message",
                "settings": [
                {
                "type": "text",
                "id": "message",
                "label": "Message"
                },
                {
                "type": "text",
                "id": "utm_parameter_value",
                "label": "UTM Parameter Value"
                },
                {
                "type": "url",
                "id": "link",
                "label": "Link"
                }
                ]
                }
                ],

                                "presets" : [ {
                                    "name" : "custom-banner-test"
                                } ]
}

{% endschema %}